@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: 255, 255, 255;
    --background-start-rgb: 12, 10, 9;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

.tooltip {
  position: relative;
}

.tooltip-text {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-out, visibility 0.2s ease-out;
  background-color: #000;
  color: #fff;
  width: max-content;
  padding: 0.5rem;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 0.5rem;
  z-index: 1;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
